<h2 class="trivia-question"><div [innerHTML]="question"></div></h2>
<section class="output-container">
    <div *ngFor="let output of outputArray">
        <button 
            *ngIf="output.type==='boolean-answer'" 
            [innerHTML]="output.text" 
            class={{output.color}}
            id={{output.text}} 
            (click)="handleChoice(output.text)"></button>
        <button 
            *ngIf="output.type==='multiple-answer'" 
            [innerHTML]="output.text" 
            class={{output.color}} 
            id={{output.text}} 
            (click)="handleChoice(output.text)"></button>
        <article 
            *ngIf="output.type==='result'" 
            class={{output.color}} 
            [innerHTML]="output.text"></article>
    </div>
</section>
