header {
    display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #b81f24;
      color: #fff;
      margin: 10px;
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      z-index: 3;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Roboto';
  }

  main {
    width: 400px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
  }

  .game-over, .final-score {
    text-align: center;
  }

  .play-again-btn {
    background: rgb(66,133,244);
    border: none;
    color: white;
    height: 5rem;
    width: 10rem;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
  }
  .play-again-btn::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    background: rgba(255,255,255,0.5);
    transform-origin: center left;
    transform: scale(0) translateX(-50%);
    border-radius: 50%;
  }
  .play-again-btn:hover::after{
    animation: expand 1s ease;
  }
  @keyframes expand{
    100%{
        opacity: 0;
        transform: scale(4) translateX(-50%);
    }
  }
  
  .start-btn {
    display: flex;
    justify-content: center;
  }