<header>
  <span class="mobile-text"><a href="https://www.ryanmontville.com/"><span class="material-symbols-outlined">
    arrow_back
  </span></a> <h2>Trivia</h2></span>
  <h2>
    <span class="desktop-text">
      <a href="https://www.ryanmontville.com/">Ryan Montville</a> | {{title}}
    </span>
  </h2>
  <h2 *ngIf="numberOfQuestions !== 0">Score: {{score}}/{{numberOfQuestions}}</h2>
</header>


<app-start-screen *ngIf="!hasGameStarted" (dataCreated)="onDataCreated($event)" />
<app-game-screen *ngIf="hasGameStarted && !hasGameEnded" [triviaData]="triviaData"
  (playerScore)="onScoreChange($event)" />

<main *ngIf="hasGameEnded">
  <h1 class="game-over">Game Over</h1>
  <h2 class="final-score">Final Score: {{score}}/{{numberOfQuestions}}</h2>
  <section class="start-btn">
    <button (click)="playAgain()" class="play-again-btn">Play Again</button>
  </section>
</main>
